extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 Test Proyecto Index
		a(href="/login" class="left-space") Iniciar sesión
		a(href="/signup" class="left-space") Registro