extends ./layout.jade
block contenido
	h1 Login Proyecto Index
	form(action="/sessions", method="POST")
		div
			label(for="emal") Email
			input(type="text", name="email", placeholder="Email de usuario", id="email" class="form-control")
		div
			label(for="pass") Pass
			input(type="password", name="pass", placeholder="Pass", id="pass" class="form-control")
		div
			input(type="submit" value="Iniciar sesión" class="form-cotntrol" class="btn btn-inf")